version: "3.9"

services:
  iam_service:
    build: ./services/iam_service
    container_name: iam_service
    env_file:
      - ./services/iam_service/.env
    ports:
      - "8001:8001"
    networks:
      - formbuilder_network

  api_gateway:
    build: ./services/api_gateway
    container_name: api_gateway
    env_file:
      - ./services/api_gateway/.env
    ports:
      - "7000:7000"
    depends_on:
      - iam_service
    networks:
      - formbuilder_network

networks:
  formbuilder_network:

