version: "3.9"

services:
  api_gateway:
    build: .
    container_name: api_gateway
    env_file:
      - .env
    ports:
      - "7000:7000"
    depends_on:
      - iam_service

networks:
  default:
    name: formbuilder_network
